/* Bendros taisyklės */
* {
    font-family: 'Courier New', Courier, monospace;
}

p,
h1,
h2,
h3 {
    color: black;
    margin: 50px;
    border: 1px solid green;
}

h2 {
    font-weight: 100;
}

header h2 {
    color: orange;
}

header div section h2 {
    color: teal;
}

main h2 {
    color: cyan;
}

section .post {
    color: white;

    font-size: 2em;
}
